@font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: 400;
     src: url(../font/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
     src: local('Material Icons'),
     local('MaterialIcons-Regular'),
     url(../font/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
     url(../font/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
     url(../font/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
     color: #616161 !important;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #616161 !important;
     box-shadow: 0 1px 0 0 #616161 !important;
}

.logo{
     margin-top:20px;
}

g.piechart-superman{
     fill: #8C271D;
}

.ct-chart g.piechart-superman .ct-label,.ct-chart g.piechart-batman .ct-label{
     fill: white;
}

g.piechart-batman{
     fill: black;
}

@media only screen and (min-width: 601px){
     .row .col.offset-m3 {
          margin-left: 25% !important;
     }
}