<div class="container">
    <div class="center-align hide-on-small-only logo">
        <img class="responsive-img" src="/img/logo.png">
    </div>
    <h3 class="center-align">Batman vs Superman</h3>
    <p class="center-align">
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Vote Batman vs Superman - AngularJS 2 Example built with Firebase #javascript #AngularJS made by @anna_tomka">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
    <div class="row">
        <div class="col s12 m5">
            <super-form></super-form>
        </div>
        <div class="col s12 m7">
            <statistics></statistics>
        </div>
    </div>
</div>
<footer-content></footer-content>