<div class="row">
    <div class="l8 offset-l2">
        <div class="card-panel yellow darken-2 center-align white-text">
            <h6 class="card-title">Current State</h6>
            <h4>{{resultText}}</h4>
            <a href="{{shareText}}" class="waves-effect waves-light btn grey darken-2" target="_blank"><i class="material-icons left">share</i>
                Share this result</a>
        </div>
        <adsense-component [client]="'ca-pub-5391093868358681'" [slot]="'2010378455'"></adsense-component>
        <div class="card">
            <div class="card-content center-align">
                <h4 class="grey-text text-darken-3 ">Statistics</h4>
                <div class="row">
                    There are currently <strong>{{ allVotes }}</strong> votes, <strong>{{ voteBatman }}</strong> votes for Batman and <strong>{{ voteSuperman }}</strong> votes for Superman.
                </div>
                <div class="row">
                    <div class="col m6">
                        <div class="pie-chart ct-chart ct-golden-section "></div>
                    </div>
                    <div class="col m6">
                        <div class="bar-chart ct-chart ct-golden-section"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <adsense-component [client]="'ca-pub-5391093868358681'" [slot]="'3986639254'"></adsense-component>
    <latest-component></latest-component>
</div>