<div class="row">
    <div class="l8 offset-l2">

        <div class="card-panel yellow darken-2 center-align white-text" >
            <h4 [hidden]="voteSuperman>=voteBatman"><strong>Batman</strong> is better.</h4>
            <h4 [hidden]="voteSuperman<=voteBatman"><strong>Superman</strong> is better.</h4>
            <h6 class="card-title">Current State</h6>
        </div>

        <div class="card">
            <div class="card-content center-align">
                <h4 class="grey-text text-darken-3 ">Statistics</h4>
                <div class="row">
                    There are currently <strong>{{ allVotes }}</strong> votes, <strong>{{ voteBatman }}</strong> votes for Batman and <strong>{{ voteSuperman }}</strong> votes for Superman.
                </div>
                <div class="row">
                    <div class="col m6">
                        <div class="pie-chart ct-chart ct-golden-section "></div>
                    </div>
                    <div class="col m6">
                        <div class="bar-chart ct-chart ct-golden-section"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

