<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">More informations</h5>
                <p class="grey-text text-lighten-4">This project was made for demonstration purpose on Google IO Extended.<br>
                Source code is available <a href="https://github.com/annatomka/angular2-superhero-demo">here</a>.
                </p>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://angular.io">Angular 2.0</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Materialize</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.firebase.com">Firebase</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://gionkunz.github.io/chartist-js/">Chartist</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://coffeeandgeeks.files.wordpress.com/2014/12/5-reasons-why-batman-vs-superman-dawn-of-justice-better-be-great.jpeg">Image source</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://cliparts.co/cliparts/pc5/8oo/pc58ooEXi.png">Logo source</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Anna Tomka
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>