<div class="card ">
    <div class="card-image">
        <img src="img/header.jpeg">
        <span class="card-title">Vote Form </span>
    </div>
    <div class="card-content">
        <h5>Who is better? Vote!</h5>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" #username type="text" class="validate">
                <label for="username">Your name</label>
            </div>
        </div>
        <div class="row">
            <a href="#" (click)="vote('batman',username.value)" class="col s6 black-text text-darken-4"><i
                    class="mdi-action-thumb-up"></i> Batman</a>
            <a href="#" (click)="vote('superman',username.value)" class="col s6 red-text text-darken-1 right-align"><i
                    class="mdi-action-thumb-up"></i> Superman</a>
        </div>
    </div>
</div>